# Python
.env
.venv
.python-version
__pycache__/

# IDE
.vscode/
.idea/
.DS_Store

# Tools
.ngrok.exe.old
ngrok.exe

# Project Files
cache/cleaning/
cache/dataset/
cache/log/
cache/model/
cache/transformation/
AutogluonModels/

catboost_info/